@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Header rules */
.navigation {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 5px 0 5px;
  flex-shrink: 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Hero Rules */
.hero-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-main {
  max-width: 350px;
  margin-bottom: 5px;
}

.hero-secondary {
  max-width: 450px;
}

.button {
  margin: 15px 0;
  padding: 5px 30px;
}

.image-placeholder {
  flex: 1;
  align-self: stretch;
  display: flex;

}

.placeholder-text {
  margin: auto;
}


/* Palette */
.dark-bg {
  background-color: #1F2937;
}

.blue-bg {
  background-color: #3882F6;
}

.grey-bg {
  background-color: #E5E7EB;
}

/* font styles */
.logo-st{
  font-size: 24px;
  color: #F9FAF8;
}

.placeholder-text-st,
.hero-secondary-st,
.header-link-st {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main-st {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.cta-bg{
  background-color: #3882F6;
}

.button-st {
  background-color: #3882F6;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;

}

.button-st:hover {
  background-color: #1a51ab;
}

.image-placeholder-st {
  background-color: #6d747e;
}

/* no bullets, no padding, no margin */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* no decoration */
a {
  text-decoration: none;
  color: inherit;
}

/* no margin on headings and paragraphs */
p,
h1 {
  margin: 0;
}